/**
 * 带有 .module.css 后缀的 CSS 文件会被当作 CSS Modules 处理，
 * 并自动限制在局部作用域内。
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
